/* body, html {
    height: 100%;
    margin: 0;
  } */


body{
    background-image: url(../artwork/code.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


h1{
    display: flex;
    justify-content: center;
}

 #window{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    overflow: hidden;
} 





